@model IdeaInfoViewModel
@{
    ViewData["Title"] = "Creat your idea";
}

@section Scripts{
    <script src="~/Scripts/pages/ideas/details.bundle.js" asp-append-version="true"></script>
}

@inject UserManager<ApplicationUser> UserManager

<div class="idea-details-page">
    <div class="container">
        <div class="row">
            <div class="row idea-header">
                <div class="col-sm-6">
                    <img src="/api/ideas/@Model.Id/banner" alt="Circle Image" class="img-responsive">
                </div>
                <div class="name col-sm-6">
                    <h3 class="title">@Model.Title</h3>
                    @*<h6>Designer</h6>*@
                    <h6 class="description">
                        @Model.Description
                    </h6>
                </div>

                @if (Model.IsOwner(UserManager.GetUserId(User)))
                {
                    <div class="col-sm-6">
                        <div class="col-sm-2">
                            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-default">Edit</a>
                        </div>
                        <div class="col-sm-2">


                            <div class="btn-group">
                                <button type="button" class="btn btn-primary btn-fab btn-fab-mini btn-round dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">settings</i> <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">

                                    @if (Model.IsPublished)
                                    {
                                        <li>
                                            <form class="form-inline" method="post" asp-action="Unpublish" asp-route-id="@Model.Id">
                                                <button class="btn btn-simple">Unpublish</button>
                                            </form>
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            <form class="form-inline" method="post" asp-action="Publish" asp-route-id="@Model.Id">
                                                <button class="btn btn-simple">Publish</button>
                                            </form>
                                        </li>
                                    }

                                </ul>
                            </div>



                        </div>
                    </div>
                }
            </div>
        </div>


        <div class="row">
            <div class="profile-tabs">
                <div class="nav-align-left">
                    <ul class="nav nav-pills nav-pills-grey" role="tablist">
                        @foreach (var page in Model.Pages)
                        {
                        <li class="@(page.IsActive ? "active" : string.Empty)">
                            <a href="#@page.Id" role="tab" data-toggle="tab">
                                @page.Name
                            </a>
                        </li>
                        }
                    </ul>

                    <div class="tab-content gallery">
                        @foreach (var page in Model.Pages)
                        {
                        <div class="tab-pane @(page.IsActive ? "active" : string.Empty)" id="@page.Id">
                            <div class="col-sm-10">
                                @Html.Raw(page.Content)
                            </div>
                        </div>
                        }




                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <comments-list params="ideaId: '@Model.Id', client: client"></comments-list>
            </div>
        </div>
    </div>
</div>